apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-service
  namespace: catalog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog
  
  template:
    metadata:
      labels:
        app: catalog
    spec:
      containers:
        - name: catalog
          image: streamcartacrdev.azurecr.io/catalog-service:95d8947
          ports:
            - containerPort: 8000

          envFrom:
            - configMapRef:
                name: catalog-config
            - secretRef:
                name: catalog-secret

          livenessProbe:
            httpGet:
             path: /health
             port: 8000
            initialDelaySeconds: 20
            periodSeconds: 10

          readinessProbe:
           httpGet:
             path: /health
             port: 8000
           initialDelaySeconds: 10
           periodSeconds: 5
           
          

          
          


