name: Catalog Service CI

on:
  push:
    paths:
      - "services/catalog-service/**"
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set image tag
        run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/catalog-service:${IMAGE_TAG} services/catalog-service/.
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/catalog-service:${IMAGE_TAG}

      - name: Update GitOps manifest
        run: |
          sed -i "s|catalog-service:.*|catalog-service:${IMAGE_TAG}|g" \
          gitops/environments/dev/catalog/deployment.yaml

      - name: Commit & Push
        run: |
          git config user.name "github-actions"
          git config user.email "ci@github.com"
          git add gitops/environments/dev/catalog/deployment.yaml
          git commit -m "Update catalog image to ${IMAGE_TAG}"
          git push
